<div style="display: flex; align-items: center; justify-content: center; margin-top: 10%;">
    <div class="block1 shadow " routerLink="/new-chat-room">
        <img src="../../assets/cal.png" alt="" height="350px"  width="350px">
        <b> <p style="text-align: center; font-size: 24px;" >Chat with Custom AI Bot</p></b>
    </div>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div routerLink="/nchat-room" class="block2 shadow">
        <img src="../../assets/chat.png" alt="" height="350px"  width="350px">
        <b><p style="text-align: center; font-size: 24px;" >Chat with High-End AI Bot</p></b>

    </div>
</div>
