<body>
    <div style="display: flex; align-items: center; justify-content: center; margin-top: 10%;">
        <div class="block1 shadow " routerLink="/doctor-login">
            <img src="../../assets/doc.png" alt="" height="350px"  width="350px">
            <b> <p style="text-align: center; font-size: 24px;" >Therapist Login</p></b>
        </div>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div routerLink="/patient-login" class="block2 shadow">
            <img src="../../assets/pat.png" alt="" height="350px"  width="350px">
            <b><p style="text-align: center; font-size: 24px;" >Student Login</p></b>
    
        </div>
</div>
</body>

        
